@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hack";
  src: url("/fonts/Hack-Regular.ttf") format("truetype"),
    url("/fonts/Hack-Italic.ttf") format("truetype"),
    url("/fonts/Hack-Bold.ttf") format("truetype"),
    url("/fonts/Hack-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Hack", sans-serif;
}
